@use "App/assets/styles/variables.scss" as *;

@font-face {
	font-family: "Britanny";
	src: url("../fonts/Brittany.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: $white;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: $background-color;
}
