@use "sass:color" as color;
@use "App/assets/styles/variables.scss" as *;

.hero {
    position: relative;

    &__content {
        position: relative;
        z-index: 2;
        color: $white;
        padding: 10em 2em 1em;

        @media (min-width: 768px) {
            padding: 14em 4em 3em;
        }


        &--title {
            font-size: 3.2em;
            font-weight: 400;
            margin-bottom: 0.4em;

            @media (min-width: 768px) {
                font-size: 4.8em;
            }
        }

        &--subtitle {
            font-size: 2em;
            color: $white;
            margin: 0.4em 0 1em;
        }
    }
}